<!DOCTYPE html>
<html>

<head>
  <title>Artworks</title>
  <link rel="stylesheet" href="./artwork.component.css" />
</head>

<body>
  <h1>Artworks Component 2</h1>

  <!-- <h2>Filter</h2>
  <div>
    <input type="radio" id="first" name="filter" value="first" (click)="Display1st()" />
    <label for="first">1000 and 5000</label>

    <input type="radio" id="second" name="filter" value="second" (click)="Display2nd()" />
    <label for="second">5000 and 10000</label>

    <input type="radio" id="third" name="filter" value="third" (click)="Display3rd()" />
    <label for="third">10000 and above</label>
  </div>

  <div>
    <button id="clear" name="clear" value="clear" (click)="clearSelection()">Reset</button>
  </div> -->


  <button (click)="viewData()" #btnChange>Click to View</button>
  <h2>Artwork Info</h2>
  <button (click)="viewInfo()">View Info</button>
  <table *ngIf="showInfo">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody id="Artwork_Body">
      <tr *ngFor="let artwork of artworks?.data">
        <td>{{artwork.id}}</td>
        <td>{{artwork.title}}</td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="showTable">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Timestamp</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody id="Artwork_Body">
      <!-- Use *ngFor to iterate over the 'data' array -->
      <tr *ngFor="let artwork of artworks?.data">
        <td><img [src]="artwork.thumbnail?.lqip" /></td>
        <td>{{ artwork.title }}</td>
        <td>{{ artwork.timestamp }}</td>
        <td>{{ artwork._score }}</td>
      </tr>
    </tbody>
  </table>
</body>

</html>