<a routerLink="/"><h1 appCustom>Home Component</h1></a> 

<header>
    <nav>
        <a class="button" routerLink="/artwork-list"><button (click)="ArtworksClicked()">Artworks List</button></a>
        <br>
        <br>
        <a class="button" routerLink="/time-counter"><button
                [ngClass]="isClicked ? 'button-clicked' : 'button-unclicked'" (click)="TimeStart()">Time
                Ticker</button></a>

        <a class="button" routerLink="/services-test"><button (click)="ArtworksClicked()">Services Test</button></a>

        <button (click)="showPipeDefined()">Show Pre Defined Pipes</button>

        <button (click)="showPipeExample()">Show Custom Pipe</button>

        <a class="button" routerLink="/reactive-form"><button (click)="ArtworksClicked()">Reactive Form</button></a>

        <a class="button" routerLink="/template-form"><button (click)="ArtworksClicked()">Template Form</button></a>
    </nav>
</header>

<router-outlet></router-outlet>

<div appCustom *ngIf="showPreDefined">
    <h3 [ngStyle]="{'color' : 'red'}">Pipe Test</h3>

    <h4>This is a test for the date pipe, here is the current date : {{date | date}}</h4>
    <h4>This is a test for the curency pipe, I am changing 2 to = {{amount | currency : 'USD' : 'symbol' : '1.2-2'}}
    </h4>
    <h4>This is a test for the Uppercase pipe, before : {{AfterCheck}} & After : {{AfterCheck | uppercase}}</h4>
    <h4>This is a test for the Lowercase, before: {{Before}} & after: {{Before | lowercase}} </h4>
    <h4>This is a test for the Decimal Pipe, here is the number before: {{befDec}} & now : {{befDec | number:'1.2-4'}}
    </h4>
    <h4>This is a test for the Percentage Pipe, here is the number percent {{perce | percent}}</h4>
</div>

<div *ngIf="showPipe">
    <p appCustom>This is a test for the custom pipe</p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Odd/Even</th>
                </tr>
            </thead>
            <tbody *ngFor="let element of myArr">
                <tr>
                    <td>{{element}}</td>
                    <td>{{element | NumberChecker}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br>
<br>

<label for="test">This is an Example for a ngModel two-way data binding </label>
<input [(ngModel)]="Value" id="test">
<p>This is what you typed {{Value}}</p>

<input [(ngModel)]="inputValue" placeholder="Enter a choice">
<div [ngSwitch]="inputValue">
    <div *ngSwitchCase="'1'">
        <p>You have chosen Option 1</p>
    </div>
    <div *ngSwitchCase="'2'">
        <p>You have chosen Option 2</p>
    </div>
    <div *ngSwitchCase="'3'">
        <p>You have chosen Option 3</p>
    </div>
    <div *ngSwitchDefault>
        <p>This option does not even exist</p>
    </div>
</div>

<!-- <button (click)="counter()">Increase count</button>

<app-counter [data]="count" [data2]="test" [Details]="Details">
    <h1>This is data passed from the parent to the child</h1>
</app-counter>

<hr>

<app-counter [title]="AfterCheck">
    <h2>This is also another data passed from the parent</h2>
</app-counter>

<app-counter (myData)="childComponent($event)">{{ChildString}}</app-counter> -->