h1{
    text-align: center;
    border: 2px solid black;
    margin-left: 520px;
    margin-right: 520px;
}
button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 578px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  thead{
    text-align: center;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: whitesmoke;
  }

  .button-clicked{
    background-color: #4caf50;
  }
  .button-unclicked{
    background-color: red;
  }