h1{
    text-align: center;
    border: 2px solid black;
    margin-left: 520px;
    margin-right: 520px;
}
button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 578px;
  }