<h1>Home Component</h1>

<header>
    <nav>
        <a class="button" routerLink="/artwork-list"><button>Artworks List</button></a>
        <a class="button" routerLink="/time-counter"><button>Time Ticker</button></a>
    </nav>
</header>

<router-outlet></router-outlet>

<button (click)="counter()">Increase count</button>

<!-- <app-counter [data]="count" [data2]="test" [Details]="Details">
    <h1>This is data passed from the parent to the child</h1>
</app-counter>

<hr>

<app-counter [title]="AfterCheck">
    <h2>This is also another data passed from the parent</h2>
</app-counter> -->

<app-counter (myData)="childComponent($event)">{{ChildString}}</app-counter>