<h1>This is a reactive form</h1>

<button (click)="showForm()">View Form</button>
<div class="form" *ngIf="formData">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit(reactiveForm.value)">
        <label for="fname">First Name</label>
        <input type="text" id="fname" placeholder="Enter your first name..." formControlName="fname" />
        <small *ngIf="reactiveForm.get('fname')?.errors?.['required']">The first name is required</small>
        <small *ngIf="reactiveForm.get('fname')?.errors?.['NameSpace']">There is a space in the name, please
            check</small>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" placeholder="Enter your last name..." formControlName="lname" />
        <small *ngIf="reactiveForm.get('lname')?.errors?.['required']">The last name is required</small>
        <small *ngIf="reactiveForm.get('lname')?.errors?.['NameSpace']">There is a space in the name, please
            check</small>

        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Enter your email..." formControlName="email" />
        <small *ngIf="reactiveForm.get('email')?.errors?.['required']">The email is required is required</small>
        <small *ngIf="reactiveForm.get('email')?.errors?.['email']">Please check the email and try again</small>

        <label for="age">Age: <span id="ageValue">{{age}}</span></label>
        <input type="range" id="age" placeholder="Enter your age..." [(ngModel)]="age" formControlName="age" />

        <label for="gender">Gender</label>

        <div>
            <label for="male">Male</label>
            <input type="radio" id="male" name="gender" value="male" formControlName="gender" />

            <label for="female">Female</label>
            <input type="radio" id="female" name="gender" value="female" formControlName="gender" />

            <label for="other">Other</label>
            <input type="radio" id="other" name="gender" value="other" formControlName="gender" />
        </div>

        <label for="location">Branch Location</label>
        <select id="location" formControlName="branch">
            <option value="chennai">Chennai</option>
            <option value="bangalore">Bangalore</option>
            <option value="nagpur">Nagpur</option>
            <option value="hyderabad">Hyderabad</option>
            <option value="pune">Pune</option>
        </select>

        <button type="submit">Submit</button>
    </form>
</div>

<h4>User Details</h4>

<button (click)="showDetails()">Show User Details</button>
<div *ngIf="detailsView">
<table  *ngFor="let key of dataKeys">
      <tr *ngFor="let item of UserDetails[key] | keyvalue">
        <th>{{ item.key }} : {{item.value}}</th>
      </tr>
      <br>
  </table>
</div>